/* .dropdown-menu .dropdown-group > .dropdown-heading {
  padding: .5rem 1.5rem;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
  position: sticky;
  top: 0px;
  background-color: white;
  width: 10rem;
  display: flex;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.disabled {
  color: #9e9e9e;
  cursor: not-allowed;
}


.show {
  animation: fadeInShow .3s;
  display: block;
}


@keyframes fadeInShow {
  0% {
    opacity: 0;
    transform: scale(0)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

/* .dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
} */

.dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}
